.grid-container {
    width: 50%;
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px;
    text-align: center;

}

.grid-container div {
    border: 1px solid #C4C4Cd ;
    text-align: center;
    color: #4D4D4D;

}
.grid-days {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
}
.grid-none {
    display: flex;
    justify-content: left;
    text-align: center;
    padding: 5px;
    height: 85px;
    font-size: 12px;
}
#intro {
    background-color:#A4F1ED;
}
#alg {
    background-color:#E6A4F1;
}
#qui {
    background-color:#F6F29B;
}